<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Recibo Dígital</title>
    <base href="/">

    <!--Hacemos prueba de estilo-->
    <link rel="stylesheet" href="/css/thankyou.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="color: rgb(82, 82, 82);">

    <style>
        .frame {
            /*0,139,204*/
            border: 8px solid rgb(157, 36, 73);
            /*width: 880; Tamaño ya probado */ 
            width: 1080px; /*Tamaño que abarca el 100% del tamaó carta*/
            height: 1540px;
            margin: 20px;
        }

        b {
            font-weight: bold;
        }

        .titulo {
            width: 100%;
            font-size: 24px;
            text-align: center;
        }

        .titulo2{
            margin-top: 20px;
            font-size: 40px;
            font-weight: 700;
            text-align: center;
            color: rgb(157, 36, 73);
        }

        .subtitulo{
            font-size: 40px;
            font-weight: 700;
            text-align: center;
            color: black;
        }

        .tituloTabla{
            color: rgb(157, 36, 73);
            text-align: center;
            font-size: 30px;
            font-weight: 700;
        }

        .subtituloTabla{
            color: black;
            text-align: center;
            font-size: 18px;
            font-weight: 700;
        }

        .labelTitle {
            width: 400px;
            margin-top: -2px;
            margin-left: -2px;
            margin-right: -1px;
            color: white;
            font-weight: 800;
            border: 2px solid rgb(157, 36, 73);
            background: rgb(157, 36, 73);
        }

        .labelTitle2 {
            /*width: 402px;*/
            width: 540 px;;
            margin-top: -2px;
            color: white;
            font-weight: 800;
            border: 2px solid rgb(157, 36, 73);
            background: rgb(157, 36, 73);
            text-align: center;
            font-size: 20px;
        }

        .result {
            font-size: 20px;
            font-weight: 800;
        }

        .celda1 {
            width: 132px;
            font-weight: 700;
        }

        .titleMinus {
            font-size: 16px;
            font-weight: 700;
        }

        .encabezadoTabla {
            background-color: rgb(157, 36, 73);
            color: white;
            text-align: center;
        }

        .contenidoTabla {
            border: 2px solid rgb(157, 36, 73);
            font-size: 18px;
            text-align: center;
            font-weight: 800;
        }
    </style>

    <div class="frame">

        <table class="titulo">
            <td>
                <div>
                    <img style="height: 100px;"
                        src="https://smapac.gob.mx/assets/images/smapac-logo-300x190.png" alt="">
                </div>
            </td>
            <td style="padding-top:20px">
                <div style="padding-bottom: 0px; font-weight: 800; font-size: 36px">SISTEMA MUNICIPAL DE AGUA POTABLE</div>
                <div style="margin-top: -10px; font-weight:800; font-size: 36px">Y ALCANTARILLADO DE CARMEN</div>
                <div style="margin-top:-5px; font-size: 14px; font-weight: 700">R.F.C. SMA-860206-225</div>
                <div style="margin-top:-5px; font-size: 14px; font-weight: 700">
                    CALLE 33 No. 140 INT. 1 ENTRE 50 Y 56 COL. PETROLERA C.P. 24180 CD. DEL CARMEN, CAMPECHE
                </div>
            </td>
            <td>
                <div>
                    <img style="height: 160px;"
                        src="https://smapac.gob.mx/assets/images/logo_vertical.png" alt="">
                </div>
            </td>
        </table>

        <div style="margin: 10px; 20px 20px 0">

            <div style="
                font-size: 16px; 
                font-weight: 700; 
                padding: 20px 10px 20px 20px;
                border: 2px solid rgb(157, 36, 73); 
                border-radius: 10px 10px 0px 0px">

                <div class="row">
                    <div class="col titleMinus">CONTRATO: <span class="result">{{contrato}}</span></div>
                    <div class="col titleMinus">REGIÓN: <span class="result">{{region}}</span></div>
                    <div class="col titleMinus">SECTOR: <span class="result">{{sector}}</span></div>
                    <div class="col titleMinus">REPARTO: <span class="result">{{reparto}}</span></div>
                </div>

                <div class="row">
                    <div class="col-7">
                        <div class="titleMinus">USUARIO: <span class="result">{{nombre}}</span></div>
                        <div class="titleMinus">DOMICILIO: <span class="result">{{direccion}}</span></div>
                        <div class="titleMinus">ENTRE:</div>
                        <div class="row">
                            <div class="col titleMinus">COLONIA: <span class="result">{{colonia}}</span></div>
                            <div class="col titleMinus">C.P: <span class="result">{{cp}}</span></div>
                        </div>
                    </div>
                    <div class="col-5">

                        <div style="text-align: center; 
                        margin-top: 20px; 
                        width: 75%;
                        background-color:rgb(157, 36, 73);
                        color: white;
                        display: flex;
                        margin-left: 50px;
                        justify-content: center;
                        align-items: center;
                        ">
                            PRESENTE MES
                        </div>

                        <div style=" margin-right: -11px; margin-top: 9px; margin-bottom: -150px">
                            <table style="width: 100%;">
                                <tr>
                                    <td class="encabezadoTabla" style="border-radius: 10px 0 0 0;">LECTURA ANTERIOR</td>
                                    <td class="encabezadoTabla">LECTURA ACTUAL</td>
                                    <td class="encabezadoTabla" style="border-radius: 0 10px 0 0;">CONSUMO</td>
                                </tr>
                                <tr>
                                    <td class="contenidoTabla">{{lectura_anterior}}</td>
                                    <td class="contenidoTabla">{{lectura_actual}}</td>
                                    <td class="contenidoTabla">{{consumo}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col">
                    <div class="labelTitle2">INFORMACIÓN DE CONSUMO
                    </div>

                    <div style="border: 2px solid rgb(157, 36, 73);">

                        <table style="width: 100%; text-align:center;">
                            <tr style="font-weight: 800;">
                                <td>PERIODO</td>
                                <td>ANT.</td>
                                <td>ACT.</td>
                                <td>CONS. M<sup>3</sup></td>
                            </tr>
                            <tr class="titleMinus">
                                <td>{{mes_facturado6}}</td>
                                <td>{{lectura_ant6}}</td>
                                <td>{{lectura6}}</td>
                                <td>{{consumo6}}</td>
                            </tr>

                            <tr class="titleMinus">
                                <td>{{mes_facturado5}}</td>
                                <td>{{lectura_ant5}}</td>
                                <td>{{lectura5}}</td>
                                <td>{{consumo5}}</td>
                            </tr>

                            <tr class="titleMinus">
                                <td>{{mes_facturado4}}</td>
                                <td>{{lectura_ant4}}</td>
                                <td>{{lectura4}}</td>
                                <td>{{consumo4}}</td>
                            </tr>

                            <tr class="titleMinus">
                                <td>{{mes_facturado3}}</td>
                                <td>{{lectura_ant3}}</td>
                                <td>{{lectura3}}</td>
                                <td>{{consumo3}}</td>
                            </tr>

                            <tr class="titleMinus">
                                <td>{{mes_facturado2}}</td>
                                <td>{{lectura_ant2}}</td>
                                <td>{{lectura2}}</td>
                                <td>{{consumo2}}</td>
                            </tr>

                            <tr class="titleMinus">
                                <td>{{mes_facturado1}}</td>
                                <td>{{lectura_ant1}}</td>
                                <td>{{lectura1}}</td>
                                <td>{{consumo1}}</td>
                            </tr>
                        </table>

                    </div>

                    <div class="labelTitle2">HISTÓRICO DE CUENTA
                    </div>

                    <div style="border: 2px solid rgb(157, 36, 73);">

                        <table style="width: 100%; text-align:center;">
                            <tr style="font-weight: 800;">
                                <td>PERIODO</td>
                                <td>EMISIÓN</td>
                                <td>IMPORTE</td>
                            </tr>
                            <tr class="titleMinus">
                                <td>{{mes_facturado6}}</td>
                                <td>{{fecha_emision6}}</td>
                                <td>{{adeudo6}}</td>
                            </tr>

                            <tr class="titleMinus">
                                <td>{{mes_facturado5}}</td>
                                <td>{{fecha_emision5}}</td>
                                <td>{{adeudo5}}</td>
                            </tr>

                            <tr class="titleMinus">
                                <td>{{mes_facturado4}}</td>
                                <td>{{fecha_emision4}}</td>
                                <td>{{adeudo4}}</td>
                            </tr>

                            <tr class="titleMinus">
                                <td>{{mes_facturado3}}</td>
                                <td>{{fecha_emision3}}</td>
                                <td>{{adeudo3}}</td>
                            </tr>

                            <tr class="titleMinus">
                                <td>{{mes_facturado2}}</td>
                                <td>{{fecha_emision2}}</td>
                                <td>{{adeudo2}}</td>
                            </tr>

                            <tr class="titleMinus">
                                <td>{{mes_facturado1}}</td>
                                <td>{{fecha_emision1}}</td>
                                <td>{{adeudo1}}</td>
                            </tr>
                        </table>

                    </div>

                    <div class="labelTitle2">HISTÓRICO DE CONSUMO
                    </div>
                </div>
                <div class="col">


                    <div style="
                    margin-top: -2px;
                    margin-left: -31px;
                    padding-left: 10px;
                    border-radius: 0px 0px 20px 20px;
                    border: 2px solid rgb(157, 36, 73)">
                        <div class="mt-3 titleMinus">
                            PERIODO DE CONSUMO:
                        </div>
                        <div class="titleMinus">
                            MES FACTURADO: <span class="result">&nbsp;&nbsp;{{mes_facturado}}</span>
                        </div>

                        <div class="row">
                            <div class="col-5">
                                <div class="pl-1" style="
                                    background: rgb(157, 36, 73); 
                                    color: white;
                                    font-weight: 700;
                                    width: 100%">
                                    VENCIMIENTO
                                </div>
                            </div>

                            <div class="col">
                                <span class="result">{{fecha_vencimiento}}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col titleMinus">MEDIDOR: <span class="result">{{medidor}}</span></div>
                            <div class="col titleMinus">TARIFA:
                                <span class="result">{{tarifa}}</span>
                            </div>
                        </div>
                        <div class="titleMinus">
                            GIRO: <span class="result">&nbsp;&nbsp;{{giro}}</span>
                        </div>
                        <div class="titleMinus">
                            PERIODOS DE ADEUDO
                        </div>

                        <br>

                        <div class="labelTitle2" style="
                        margin-left: -12px;
                        width: 540px;">
                            DETALLE DE CUENTA
                        </div>

                        <table style="width: 95%;" class="titleMinus">
                            <tr style="font-size: 18px; font-weight: 900;">
                                <td>Concepto</td>
                                <td style="text-align: right;">Vencido</td>
                                <td style="text-align: right;">Actual</td>
                            </tr>


                            <tr>
                                <td>Consumo</td>
                                <td style="text-align: right;">{{consumo_vencido}}</td>
                                <td style="text-align: right;">{{consumo_actual}}</td>
                            </tr>

                            <tr>
                                <td>{{label_drenaje}}</td>
                                <td style="text-align: right;">{{drenaje_vencido}}</td>
                                <td style="text-align: right;">{{drenaje}}</td>
                            </tr>

                            <tr>
                                <td>{{label_pipas}}</td>
                                <td style="text-align: right;">{{pipas_vencido}}</td>
                                <td style="text-align: right;">{{pipas}}</td>
                            </tr>

                            <tr>
                                <td>{{label_iva}}</td>
                                <td style="text-align: right;">{{iva_vencido}}</td>
                                <td style="text-align: right;">{{iva}}</td>
                            </tr>

                            <tr>
                                <td>{{label_recargo}}</td>
                                <td style="text-align: right;">{{recargo_vencido}}</td>
                                <td style="text-align: right;">{{recargo_actual}}</td>
                            </tr>

                            <tr>
                                <td>&nbsp;</td>
                                <td style="text-align: right;">{{label_pagado}}</td>
                                <td style="text-align: right;">{{pagado}}</td>
                            </tr>

                            <tr>
                                <td>&nbsp;</td>
                                <td>Total a pagar:</td>
                                <td style="text-align: right;" class="result">{{adeuda}}</td>
                            </tr>
                        </table>
                    </div>

                    <div style="text-align: center; font-size:12px; font-weight: 700">
                        Art. 93 Ley de Agua Potable y Alcantarillado del Edo. de Campeche <br>
                        Tendrá derecho a inconformarse ante el organismo operador,<br>
                        dentro del mes en que deba efectuarse el pago correspondiente <br>
                        al consumo objetado.
                    </div>
                </div>
            </div>

        </div>

        <div style="text-align: center; font-size: 22px; font-weight: 800; margin-top:20px">
            EVITE CORTES Y PAGO DE RECONEXIÓN
            <br>
            ESTADO DE CUENTA
        </div>

        <div style="text-align: right; font-size: 60px; margin-right: 10px; font-weight:600">
            *{{contrato}}
        </div>

        <div class="row" style="text-align: center; font-size:24px; font-weight: 800; color:rgb(105, 105, 105)">
            <div class="col">
                <i class="fab fa-facebook" style="font-size: 28px; color: rgb(157, 36, 73);"></i> Smapac.Carmen
            </div>
            <div class="col">
                www.smapac.gob.mx
            </div>
        </div>


        <div class="mt-2" style="text-align: center; 
                    font-size: 22px;
                    font-weight: 800;
                    background-color: rgb(157, 36, 73); 
                    margin-right: 0px;
                    color:white">
            EL AGUA ES PARA TODOS, CUIDARLA Y PAGARLA ES TU RESPONSABILIDAD
        </div>

        <div class="row" style="margin-top: 30px">

            <div class="col" style="margin-left: 15px;">
                <div class="titleMinus">FECHA DE VENCIMIENTO: <span class="result">{{fecha_vencimiento}}</span></div>
                <div class="titleMinus">CONTRATO: <span class="result">{{contrato}}</span></div>
                <div class="titleMinus">REPARTO: <span class="result">{{reparto}}</span></div>
                <div class="titleMinus">USUARIO: <span class="result">{{nombre}}</span></div>
                <div class="titleMinus">DOMICILIO: <span class="result">{{direccion}}</span></div>
                <div class="titleMinus">COLONIA: <span class="result">{{colonia}}</span></div>
                <div class="titleMinus">TARIFA: <span class="result">{{tarifa}}</span></div>
            </div>

            <div class="col" style="margin-right: 15px;">

                <div style="
                border-radius: 20px 20px 0px 0px;
                background:rgb(157, 36, 73);
                color: white;
                text-align: center;
                font-weight: 800;
                font-size: 20px;
                border: 2px solid rgb(157, 36, 73);">
                    DETALLES DE CUENTA
                </div>

                <div style="
                border: 2px solid rgb(157, 36, 73);
                border-radius: 0px 0px 20px 20px;">

                    <table style="width: 95%;" class="titleMinus ml-1">

                        <tr style="font-size: 18px; font-weight: 900;">
                                <td>Concepto</td>
                                <td style="text-align: right;">Vencido</td>
                                <td style="text-align: right;">Actual</td>
                            </tr>


                            <tr>
                                <td>Consumo</td>
                                <td style="text-align: right;">{{consumo_vencido}}</td>
                                <td style="text-align: right;">{{consumo_actual}}</td>
                            </tr>

                            <tr>
                                <td>{{label_drenaje}}</td>
                                <td style="text-align: right;">{{drenaje_vencido}}</td>
                                <td style="text-align: right;">{{drenaje}}</td>
                            </tr>

                            <tr>
                                <td>{{label_pipas}}</td>
                                <td style="text-align: right;">{{pipas_vencido}}</td>
                                <td style="text-align: right;">{{pipas}}</td>
                            </tr>

                            <tr>
                                <td>{{label_iva}}</td>
                                <td style="text-align: right;">{{iva_vencido}}</td>
                                <td style="text-align: right;">{{iva}}</td>
                            </tr>

                            <tr>
                                <td>{{label_recargo}}</td>
                                <td style="text-align: right;">{{recargo_vencido}}</td>
                                <td style="text-align: right;">{{recargo_actual}}</td>
                            </tr>

                            <tr>
                                <td>&nbsp;</td>
                                <td style="text-align: right;">{{label_pagado}}</td>
                                <td style="text-align: right;">{{pagado}}</td>
                            </tr>

                            <tr>
                                <td>&nbsp;</td>
                                <td>Total a pagar:</td>
                                <td style="text-align: right;" class="result">{{adeuda}}</td>
                            </tr>


                    </table>
                </div>

            </div>
        </div>

    </div>

    <!--Separador-->
    <div style="height: 10px;"></div>


    <!--Segunda Página-->
    <div class="frame">

        <div class="titulo2" style="margin-bottom: -18px">DUDAS Y/O ACLARACIONES A LOS TELÉFONOS:</div>
        <div class="subtitulo" style="padding: 0">938 38 230 01 / 938 38 230 63</div>

        <div style="border-top: 3px solid rgb(157, 36, 73);">&nbsp;</div>

        <div class="row tituloTabla" style="margin-bottom: -10px;">
            <div class="col">OFICINA CENTRAL</div>
            <div class="col">SUCURSAL SORIANA</div>
        </div>

        <div class="row" style="margin-bottom: -5px;">
            <div class="col subtituloTabla">LUNES A VIERNES DE 8:00 A.M. A 4:00 P.M.</div>
            <div class="col subtituloTabla">LUNES A VIERNES DE 8:00 A.M. A 3:00 P.M.</div>
        </div>

        <div class="row">
            <div class="col subtituloTabla">SÁBADOS DE 9:00 A.M. A 2:00 P.M.</div>
            <div class="col subtituloTabla">SÁBADOS DE 9:00 A.M. A 2:00 P.M.</div>
        </div>

        <div class="row tituloTabla" style="margin-top: 20px; margin-bottom: -10px;">
            <div class="col">SUCURSAL AYUNTAMIENTO</div>
            <div class="col">SUCURSAL MERCADO</div>
        </div>

        <div class="row" style="margin-bottom: -5px;">
            <div class="col subtituloTabla">LUNES A VIERNES DE 8:00 A.M. A 3:00 P.M.</div>
            <div class="col subtituloTabla">LUNES A VIERNES DE 8:00 A.M. A 3:00 P.M.</div>
        </div>

        <div class="row tituloTabla" style="margin-top: 20px; margin-bottom: -10px;">
            <div class="col">SUC. ACADEMIA DE POLICÍA</div>
        </div>

         <div class="row" style="margin-bottom: 20px">
            <div class="col subtituloTabla">LUNES A VIERNES DE 8:00 A.M. A 3:00 P.M.</div>
        </div>

        <table style="width: 100%;">
            <tr>
                <td style="text-align: center;">
                    <img style="height: 650px;"
                        src="https://smapac.gob.mx/assets/images/reverso_recibo1.png" alt="">
                </td>
            </tr>

        </table>

        <div style="border-top: 3px dashed rgb(157, 36, 73);">&nbsp;</div>

        <table style="width: 100%;">
            <tr>
                <td style="text-align: center;">
                    <img style="height: 375px;"
                        src="https://smapac.gob.mx/assets/images/reverso_recibo2.png" alt="">
                </td>
            </tr>

        </table>

    </div>

</body>

</html>